$first: rgb(255, 255, 255);
$second: rgb(76, 200, 222);
$third: rgb(62, 112, 193);
$fourth: rgb(118, 212, 24);
$dark: rgb(0, 0, 0);
$text1: "Roboto";
$text2: "cursive";
$text3: "monospace";

